<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/assets/main.bundle.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    {# TODO: Add unfurling and update layouts to be able to customize this #}
  </head>
  <body class="flex flex-col min-h-100vh">
    {% include './header.njk' %}
    <main class="flex-grow {% if templateClass %}{{ templateClass }}{% endif %}">
      {{ content | safe }}
    </main>
    {% include './footer.njk' %}
    <script src="/assets/main.bundle.js"></script>
  </body>
</html>