
/* A wrapper class for posts */
.post-template {
  & h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1.05rem;
    line-height: 1.15;
  }

  & h1 {
    @apply text-3xl mt-0
  }

  & h2 {
    @apply text-2xl
  }

  & h3 {
    @apply text-xl
  }

  & h4 {
    @apply text-lg
  }

  & h5 {
    @apply text-lg
  }

  & p {
    @apply text-base;
    margin: 1.64rem;
  }
}


