---
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
  title: Blog
  key: Blog
  order: 2
---

<h1 class="text-3xl">blog</h1>


{% set postslist = collections.posts %}
{% include "postslist.njk" %}